header{
    margin : 0;
    padding : 10;
    color : white;
    background-color: darkblue ;
    background-image:-webkit-linear-gradient(left, lightblue 0%, blue 100%);
    background-image:linear-gradient(to right, lightblue 0%, blue 100%);
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    color: lightblue;
}
header a:hover{
    color: red;
}
article a:hover {
    color: red;
    text-decoration: underline;
}
body{
    background-color: lightgrey;
    background-image: url('images/metz.jpg');
}
@font-face{
    font-family:'kgdg';
    src:url('font/KGDefyingGravity.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family:kgdg;
    font-size: 100;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: -3cm;
}
article a{
    font-size: 50;
    
}
#inscri{
    text-align: right;
}
article #accueil{
    margin-left:200;
    margin-right:200;
    padding-top: 1px;
    margin-top: 1cm;
    text-align : center;
}
#pres{
    font-size: 25;
    margin-left:100;
    margin-right:100;
    padding: 20px;
    text-align : justify;
    color: white;
    
}
#bienvenue{
    font-size: 50;
    margin-left:100;
    margin-right:100;
    padding-left: 20px;
    padding-right: 20px;
    text-align : center;
    color: white;
   
}
.erreur{
    color: red;
    font-size: 20;
    text-decoration: underline;
}
#back{
    background: rgba(0, 0, 0, 0.6);
    margin-left: 400;
    margin-right: 400;
    margin-top: 200;
}