header{
    margin : 0;
    padding : 10;
    color : white;
    background-color: darkblue ;
    background-image:-webkit-linear-gradient(left, lightblue 0%, blue 100%);
    background-image:linear-gradient(to right, lightblue 0%, blue 100%);
    height: 37px;

}
a:link {
    text-decoration: none;
    color: blue;
}
a:visited {
    color: lightblue;
}
header a:hover{
    color: red;
}
article a:hover {
    color: red;
    text-decoration: underline;
}
body{
    background-color: lightgrey;
    background-image: url('images/metz.jpg');
    font-family:arial;
    margin-right: 0;
    margin-left: 0;
}
@font-face{
    font-family:'kgdg';
    src:url('font/KGDefyingGravity.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

form {
    font-size: 20;
    color : white;
}
.brille {
    width: 120px;
    height: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: darkblue;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.brille:active {
    color: white;
    background-color: red;
}
.brille:hover{
    text-decoration: underline;
}
article{
    font-size: 20;
    color : white;
    background-color:rgba(0, 0, 0, 0.6);
    max-height: 375px;
    overflow:auto;
    border: 2px solid #0055A4;
    margin-bottom:1em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left:1em;
    padding-right:1em;
    text-align: justify;
}


#val{
    background-image: url();
    background-size:contain;
}
#val{
    max-width:1200px;
    margin:auto;
}
h1{
    font-family:kgdg;
    font-size: 400%;
    text-align: center;
}
.menu{
    margin-left: 50;
}