

html{
	scroll-behavior: smooth;
}

h1{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family:ons;
}
#gugu{
    background-image: url();
    background-size:contain;
}
#gugu{
    max-width:1200px;
    margin:auto;
}
article{
    background-color:rgba(50,50,50,0.5);
    color: white;
    max-height: 375px;
    overflow:auto;
    border: 2px solid #0055A4;
    margin-bottom:1em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left:1em;
    padding-right:1em;
    text-align: justify;
}
body{
    background-color:grey;
    font-family:arial;
    background-image: url();
    margin-right: 0;
    margin-left: 0;
}