@font-face{
	font-family:'groovy';
	src:url(Polices/KeeponTruckin.ttf)format('truetype');
	font-weight: normal;
	font-style: normal;
}

html{
	scroll-behavior: smooth;
}


#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:0px 0px 0 0;
width: 20%;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
width: 500%;
}
#menu-demo2 li:hover ul{
max-height:15em;
}
.vert-degrade{
    background-color: 	#0055A4 ;
    background-image:-webkit-linear-gradient(top,#0055A4 0%, lightblue 100%);
    background-image:linear-gradient(to bottom, #0055A4 0%, lightblue 100%);
    border-style: solid;
    border-color:#0055A4;
}
.vert-degrade:hover{
    background: #0055A4;
}
.vert-menu-lien{
    background:#0055A4;
}
.vert-menu-lien:hover{
    background: white;
}

/* les a href */

header{
    top:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
header+*{
    margin-top: 1em;
}

#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}
h1{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family:ons;
}

@font-face{
    font-family:'ons';
    src:url('Polices/OldNewspaperTypes.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
img{
    max-height: 300px;
}
#gugu{
    background-image: url();
    background-size:contain;
}
#gugu{
    max-width:1200px;
    margin:auto;
}
article{
    background-color:rgba(50,50,50,0.5);
    color: white;
    max-height: 375px;
    overflow:auto;
    border: 2px solid #0055A4;
    margin-bottom:1em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left:1em;
    padding-right:1em;
    text-align: justify;

}
body{
    background-color:grey;
    font-family:arial;
    background-image: url();
    margin-right: 0;
    margin-left: 0;
    background-repeat: repeat;
   background-size:cover;
}

.img-block{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.img-block2{
    margin-left: auto;
    margin-right: auto;
    display:block;
}
h1{
    text-decoration: underline;
}
#geogeo{
    background-image: url();
    max-width:1200px;
    margin:auto;
}
#evtm{
    background-image: url();
    max-width:1200px;
    margin:auto;
}