header{
    margin : 0;
    padding : 10;
    color : white;
    background-color: darkblue ;
    background-image:-webkit-linear-gradient(left, lightblue 0%, blue 100%);
    background-image:linear-gradient(to right, lightblue 0%, blue 100%);
}
a:link {
    text-decoration: none;
    color: blue;
}
a:visited {
    color: lightblue;
}
header a:hover{
    color: red;
}
article a:hover {
    color: red;
    text-decoration: underline;
}
body{
    background-color: lightgrey;
    background-image: url('../images/metz.jpg');
}
@font-face{
    font-family:'kgdg';
    src:url('../font/KGDefyingGravity.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family:kgdg;
    font-size: 100;
    text-align: center;
}
form {
    font-size: 20;
    color : white;
}
.brille {
    width: 120px;
    height: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: darkblue;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.brille:active {
    color: white;
    background-color: red;
}
.brille:hover{
    text-decoration: underline;
}
article{
    font-size: 20;
    color : white;
}
body #back{
    background: rgba(0, 0, 0, 0.6);
    margin-left: 700;
    margin-right: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}